* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-image {
    position: fixed;
    width: 100%;
}

#background-image img {
    position: relative;
    width: 100%;
    height: 100vh;
}

#background-image #transparent-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(52, 73, 94, 0.5);
}

header {
    position: absolute;
    background: rgba(52, 73, 94, 0.9);;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
}

header h1 a {
    text-decoration: none;
    font-size: 40px;
    font-family: monospace, sans-serif;
    color: white;
    text-align: center;
    margin-left: 100px;
}

header h1 a:hover {
    color: #f1c40f;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0px 50px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family: monospace, sans-serif;
    color: white;
}

header nav ul li:first-child a:hover {
    color: #f1c40f;
}

header nav ul li:nth-child(2) a {
    color: #f1c40f;
}

#css_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
}

#css_content #css_sheet {
    width: 1000px;
    height: 45px;
    background: #ecf0f1;
    font-family: monospace, sans-serif;
    border-radius: 10px;
}

#css_content #css_sheet tbody tr {
    height: 45px;
    text-align: center;
}

#css_content #css_sheet tbody tr:nth-child(odd) {
    background: #bdc3c7;
    width: 75%;
}

#css_content #css_sheet tbody tr:nth-child(even) {
    background: #ecf0f1;
    width: 75%;
}

#css_content #css_sheet tbody tr td:first-child {
    color: #c0392b;
    font-weight: bold;
}